<div class="banner-wrap">
    <ul class="banner-list">
        <li>
            <a href="http://thinkrec.thebase.in/" target="_blank">
                <img src="/img/banner/thinkrec_web_store.png" alt="THINKREC Web Store">
            </a>
        </li>
    </ul>
</div>