<footer>
    <div class="ft-nav-wrap cf">
        <ul class="ft-nav cf fl">
            <li><a href="/contact/contact.html" class="ft-ico-s ol ft-contact">CONTACT</a></li>
            <li><a href="https://soundcloud.com/thinkrec" target="_blank" class="ft-ico-s ol ft-sundcloud">SOUNDCLOUD</a></li>
            <li><a href="http://www.youtube.com/user/THINKREC" target="_blank" class="ft-ico-s ol ft-youtube">YOUTUBE</a></li>
            <li><a href="http://vimeo.com/thinkrec" target="_blank" class="ft-ico-s ol ft-vimeo">VIMEO</a></li>
            <li><a href="https://twitter.com/thinkrec" target="_blank" class="ft-ico-s ol ft-twitter">TWITTER</a></li>
            <li><a href="http://thinkrec.tumblr.com/" target="_blank" class="ft-ico-s ol ft-blog">STAFF BLOG</a></li>
        </ul>
        <ul class="copyright-nav cf fr">
            <li><a href="/index.html" class="ft-ico-s ol ico-copyright">2014 THINKREC.</a></li>
            <li><a href="#top" class="ft-ico-s ol ico-up-link" title="top">PAGE TOP</a></li>
        </ul>
    </div>
</footer>