<div class="headerWrapper jscScrollHeader">
    <header class="headerInner cf">
        <div class="mt5 fl">
            <a href="http://thinkrec.com/" class="s ol top-logo">THINKREC.</a>
        </div>
        <nav class="fr">
            <ul class="g-nav cf">
                <li><a href="/pages/artist/DJ-DUCT.html">ARTIST</a></li>
                <li><a href="/pages/release/disc-list.html">RELEASE</a></li>
                <li><a href="/pages/event/think-002.html">EVENT</a></li>
                <li><a href="http://thinkrec.thebase.in/" target="_blank" class="store">STORE</a></li>
                <li><a href="/pages/contact/contact.html">CONTACT</a></li>
            </ul>
        </nav>
    </header>
</div>