<div class="release-info">
    <h2 class="h2-headline border-bottom">RELEASE</h2>
    <ul class="release-list cf">
        <li>
            <a href="/pages/release/disc-list.html#THINK-10">
                <dl class="disc-info">
                    <dt><img src="/images/disc/THINK-10_600.png" width="110" height="110" alt="BACK YARD 45"></dt>
                    <dd>THINK-10</dd>
                </dl>
            </a>
        </li>
        <li>
            <a href="/pages/release/disc-list.html#UGTR-01">
                <dl class="disc-info">
                    <dt><img src="/images/disc/UGTR-01_600.png" width="110" height="110" alt="SOME LIKE THAT"></dt>
                    <dd>UGTR-01</dd>
                </dl>
            </a>
        </li>
        <li>
            <a href="/pages/release/disc-list.html#think-09">
                <dl class="disc-info">
                    <dt><img src="/images/disc/THINK-09_600.png" width="110" height="110" alt="DJ DUCT feat. THE REGIMENT BACKYARD EDIT PT.6 DETROIT RE-SESSION"></dt>
                    <dd>THINK-09</dd>
                </dl>
            </a>
        </li>
        <li>
            <a href="/pages/release/disc-list.html#think-08">
                <dl class="disc-info">
                    <dt><img src="/images/disc/THINK-08_600.png" width="110" height="110" alt="ONE TURNTABLE LIVE MIX TODAY : TOMORROW"></dt>
                    <dd>THINK-08</dd>
                </dl>
            </a>
        </li>
        <li>
            <a href="/pages/release/disc-list.html#think-07">
                <dl class="disc-info">
                    <dt><img src="/images/disc/THINK-07_600.png" width="110" height="110" alt="DJ DUCT feat. THE REGIMENT BACKYARD EDIT PT.4 -DETROIT SESSION-"></dt>
                    <dd>THINK-07</dd>
                </dl>
            </a>
        </li>
        <li>
            <a href="/pages/release/disc-list.html#think-06">
                <dl class="disc-info">
                    <dt><img src="/images/disc/THINK-06_600.png" width="110" height="110" alt="BACKYARD EDIT PT.3"></dt>
                    <dd>THINK-06</dd>
                </dl>
            </a>
        </li>
        <li>
            <a href="/pages/release/disc-list.html#think-05">
                <dl class="disc-info">
                    <dt><img src="/images/disc/THINK-05_600.png" width="110" height="110" alt="BACKYARD EDIT PT.2"></dt>
                    <dd>THINK-05</dd>
                </dl>
            </a>
        </li>
        <li>
            <a href="/pages/release/disc-list.html#think-04">
                <dl class="disc-info">
                    <dt><img src="/images/disc/THINK-04_600.png" width="110" height="110" alt="BACKYARD EDIT PT.1"></dt>
                    <dd>THINK-04</dd>
                </dl>
            </a>
        </li>
        <li>
            <a href="/pages/release/disc-list.html#think-03">
                <dl class="disc-info">
                    <dt><img src="/images/disc/THINK-03_600.png" width="110" height="110" alt="embodied ? e.p."></dt>
                    <dd>THINK-03</dd>
                </dl>
            </a>
        </li>
        <li>
            <a href="/pages/release/disc-list.html#think-02">
                <dl class="disc-info">
                    <dt><img src="/images/disc/THINK-02_600.png" width="110" height="110" alt="ONE TURNTABLE LIVE MIX.PART 2"></dt>
                    <dd>THINK-02</dd>
                </dl>
            </a>
        </li>
        <li>
            <a href="/pages/release/disc-list.html#think-01">
                <dl class="disc-info">
                    <dt><img src="/images/disc/THINK-01_600.png" width="110" height="110" alt="monkey's fist"></dt>
                    <dd>THINK-01</dd>
                </dl>
            </a>
        </li>
        <li>
            <a href="/pages/release/disc-list.html#think-00">
                <dl class="disc-info">
                    <dt><img src="/images/disc/THINK-00_600.png" width="110" height="110" alt="ONE TURNTABLE LIVE MIX"></dt>
                    <dd>THINK-00</dd>
                </dl>
            </a>
        </li>
    </ul>
</div>