<div class="pr mb20">
    <ul id="slider">
        <li>
            <a href="/">
                <img src="/images/slide/kv_thinkrec.png" alt="" width="980" height="auto">
            </a>
        </li>
    </ul>
</div>