<div class="pr">
    <ul id="slider">
        <li>
            <a href="#">
                <img src="/images/slide/kv_001.png" alt="" width="980" height="580">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="/images/slide/kv_002.png" alt="" width="980" height="580">
            </a>
        </li>
    </ul>
</div>