<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>THINKREC.</title>
    <meta name="keywords" content="DJ,プロデューサー,音楽レーベル,THINKREC,シンクレック,DJ DUCT,ダクト">
    <meta name="description" content="DJ/プロデューサーのDJ DUCTが主催する音楽レーベル「THINKREC.」Official Website">
    <meta property="og:title" content="DJ/プロデューサーのDJ DUCTが主催する音楽レーベル | THINKREC.">
    <meta property="og:description" content="DJ/プロデューサーのDJ DUCTが主催する音楽レーベル。ミュージシャン、デザイナー、ウェブエンジニア、料理人と共に、音楽制作、アパレル、木工家具のデザイン、飲食店の企画、運営などを手がけ、良質な音楽と楽しい酒を探求">
    <meta property="og:type" content="article">
    <meta property="og:locale" content="ja_JP">
    <meta property="og:url" content="http://thinkrec.com/main/think-01.html">
    <meta property="og:image" content="http://thinkrec.com/images/common/THINKREC_FB_Logo_1200.png">
    <meta property="og:site_name" content="DJ/プロデューサーのDJ DUCTが主催する音楽レーベル | THINKREC.">
    <link rel="shortcut icon" href="/dist/images/common/favicon.ico">
    <link rel="stylesheet" href="/css/bundle.min.css">
</head>
<body>
<!-- header_from -->
<%- include('../../include/_header') %>
<!-- header_to -->
<div class="wrapper">
    <div class="content">
        <!-- slide_from -->
        <%- include('../../include/_slide') %>
        <!-- slide_to -->
        <div class="main-content cf">
            <div class="left-content">
                <!-- release-info_from -->
                <%- include('../../include/_release-info') %>
                <!-- release-info_to -->
            </div>
            <div class="center-content">
                <article class="article-box">
                    <a href="/article/2015/feb/think-01.html" class="article-box-inner">
                        <header class="article-header">
                            <h1>ten thousand things mix</h1>
                        </header>
                        <section>
                            <p class="article-update"><span class="mr5">update:</span><time datetime="2015-02-02">2015/02/02</time></p>
                            <div class="mt5 tac">
                                <img src="../../images/article/2015/feb/ten_thousand things_mix.png" alt="ten thousand things mix" width="480" height="480">
                            </div>
                            <p class="mt10">今月は、昨年にUSEN用に制作＆期間限定で放送され、各所で好評を得たエクスクルーシブ・ミックスを再公開！！</p>
                        </section>
                    </a>
                </article>
                <article class="article-box">
                    <a href="/article/2015/jan/think-01.html" class="article-box-inner">
                        <header class="article-header">
                            <h1>BACKYARD DISCO MIX - side B</h1>
                        </header>
                        <section>
                            <p class="article-update"><span class="mr5">update:</span><time datetime="2015-01-07">2015/01/07</time></p>
                            <div class="mt5 tac">
                                <img src="../../images/article/2015/jan/backyard_disco_mix.png" alt="BACKYARD DISCO MIX - side B" width="480" height="480">
                            </div>
                            <p class="mt10">HAPPY NEW YEAR！2015年最初のマンスリーミックスは、先月に引き続き、盟友9dwセレクトによる良質DISCOチューンをDJ DUCTがミックス。本年もよろしくお願いします！！</p>
                        </section>
                    </a>
                </article>
                <article class="article-box">
                    <header class="article-header">
                        <h1>TodaysArt.JP Edition Zero 2014</h1>
                    </header>
                    <section>
                        <p class="article-update"><span class="mr5">update:</span><time datetime="2015-01-05">2015/01/05</time></p>
                        <div class="mt5 tac">
                            <iframe src="//player.vimeo.com/video/114973633" width="480" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                        <p class="noLink mt10">DJ DUCT出演、先日(2014/11/22 - 11/24)開催された、世界的アート・フェスティバル「TodaysArt」の日本パート「TodaysArt.JP Edition Zero 2014」、オランダの映像チームが作成した、ダイジェスト版が公開されました。当日の会場雰囲気を感じる事が出来る映像、是非、見てみて下さい！</p>
                    </section>
                </article>
                <article class="article-box">
                    <a href="/article/2014/dec/think-07.html" class="article-box-inner">
                        <header class="article-header">
                            <h1>BACKYARD DISCO MIX - side A</h1>
                        </header>
                        <section>
                            <p class="article-update"><span class="mr5">update:</span><time datetime="2014-12-20">2014/12/20</time></p>
                            <div class="mt5 tac">
                                <img src="../../images/article/2014/dec/backyard_disco_mix.png" alt="BACKYARD DISCO MIX - side A" width="480" height="480">
                            </div>
                            <p class="mt10">今月＆来月のマンスリーミックスは、２ヶ月に渡って、盟友9dwセレクトによる良質DISCOチューンをDJ DUCTがミックス。今月はその前半(side A)をお届け！！</p>
                        </section>
                    </a>
                </article>
                <article class="article-box">
                    <a href="/article/2014/sep/think-06.html" class="article-box-inner">
                        <header class="article-header">
                            <h1>One Turntable Funk 45 Mix. (30min) Free Download !!</h1>
                        </header>
                        <section>
                            <p class="article-update"><span class="mr5">update:</span><time datetime="2014-09-17">2014/09/17</time></p>
                            <div class="mt5 tac">
                                <img src="../../images/article/2014/sep/OneTurntableFunk45Mix_800.png" alt="One Turntable Funk 45 Mix. (30min)" width="480" height="480">
                            </div>
                            <p class="mt10">DJ DUCT / One Turntable Funk 45 Mix. (30min)</p>
                        </section>
                    </a>
                </article>
                <article class="article-box">
                    <a href="/article/2014/aug/think-01.html" class="article-box-inner">
                        <header class="article-header">
                            <h1>Backyard Garden Party Mix.2 (60min) Free Download !!</h1>
                        </header>
                        <section>
                            <p class="article-update"><span class="mr5">update:</span><time datetime="2014-08-01">2014/08/01</time></p>
                            <div class="mt5 tac">
                                <img src="../../images/article/2014/aug/BACKYARD-GARDEN-PARTY-MIX.2_800.png" alt="Backyard Garden Party Mix.2 (60min)" width="480" height="480">
                            </div>
                            <p class="mt10">DJ DUCT / Backyard Garden Party Mix.2 (60min)</p>
                        </section>
                    </a>
                </article>
                <article class="article-box">
                    <a href="http://www.sounddesigner.jp/SDRZ/index2014summer.shtml" target=”_blank” class="article-box-inner">
                        <header class="article-header">
                            <h1>DJ DUCT インタビュー掲載誌 本日（2014年7月31日）発売！</h1>
                        </header>
                        <section>
                            <p class="article-update"><span class="mr5">update:</span><time datetime="2014-07-31">2014/07/31</time></p>
                            <div class="mt5">
                                <img src="../../images/article/2014/july/media.png" alt="SOME LIKE THAT 47/47 TOUR Schedule" width="480" height="480">
                            </div>
                            <p class="mt10">本日（2014年7月31日）発売のサウンド・デザイナー8月号増刊号「DJ&トラックメイカーになれる本」にて、DJ DUCTのインタビューとエフェクトテクニックの紹介記事がカラー3ページに渡って掲載されています！</p>
                        </section>
                    </a>
                </article>
                <article class="article-box">
                    <a href="/47Tour.html" class="article-box-inner">
                        <header class="article-header">
                            <h1>SOME LIKE THAT 47/47 TOUR Schedule</h1>
                        </header>
                        <section>
                            <p class="article-update"><span class="mr5">update:</span><time datetime="2014-05-28">2014/05/28</time></p>
                            <div class="mt5">
                                <img src="../../images/article/2014/may/47_ture_img.png" alt="SOME LIKE THAT 47/47 TOUR Schedule" width="480" height="300">
                            </div>
                            <p class="mt10">SOME LIKE THAT 47/47 TOUR Web Site Open !!!こちらの特設ページにて写真や映像など様々なコンテンツを企画しています。Facebookと連動しまして随時情報を更新して行きますので是非チェックしてみて下さい。「DJ DUCT Facebook Page 」への「いいね！」も合わせてよろしくお願いします</p>
                        </section>
                    </a>
                </article>
                <article class="article-box">
                    <a href="/article/2014/jan/think-05.html" class="article-box-inner">
                        <header class="article-header">
                            <h1>2014.02.05.wed Release DJ DUCT SOME LIKE THAT</h1>
                        </header>
                        <section>
                            <p class="article-update"><span class="mr5">update:</span><time datetime="2014-02-05">2014/02/05</time></p>
                            <div class="mt5">
                                <img src="../../images/article/2014/jan/UGTR-01_A1_760.png" alt="DJ DUCT SOME LIKE THAT" width="480" height="480">
                            </div>
                            <p class="mt5">DJ DUCT、実に７年ぶりとなるオリジナル・アルバム、ようやく完成！</p>
                            <p>ヴァイナルを中心にコンスタントなリリースを続け、国内外の様々な凄腕アーティストたちとの交流を深めながら、欧州でのフェスにも参加。その熟成期間をもって自身の最も得意とする、サンプリング主体のビート・リコンストラクションで、REAL FUNK WORLD 炸裂、極上のアルバムが仕上がりました！</p>
                        </section>
                    </a>
                </article>
            </div>
        </div>
    </div>
    <div class="pager-wrap">
        <ul class="pager cf">
            <!-- <li class="fl"><a href="/" title="prev"><span class="prev-arrow s ol">prev</span></a></li> -->
            <li class="fr"><a href="/" title="next"><span class="next-arrow s ol">next</span></a></li>
        </ul>
    </div>
    <!-- footer_from -->
    <%- include('../../include/_footer') %>
    <!-- footer_to -->
</div>
</body>
</html>