.file-not-found-content,
.contact-content {
	color: #ffa200;
}

.file-not-found-content > h2,
.contact-content > h2 {
	margin-top: 20px;
	font-weight: bold;
	font-size: 13px;
}

.link-style > a {
	text-decoration: none;
	font-size: 13px;
}

.link-style > a:hover {
	color: #ffa200;
	text-decoration: underline;
}