@charset "utf-8";

/* * * * * * * * * * * * * * * * * * *
 * EVENT
 * * * * * * * * * * * * * * * * * * */

.event-info-header {
  padding: 5px 0 3px;
  border-bottom: 1px dotted #333;
}

.event-title {
  font-weight: bold;
  font-size: 15px;
}

.holding-info {
  margin-top: 5px;
  font-size: 10px;
}

.holding-info > dt {
  float: left;
  margin-right: 5px;
  font-weight: bold;
}

.holding-info > dd {
  float: left;
  margin-right: 10px;
}

.holding-info > dd > a {
  text-decoration: underline;
}

.holding-info > dd > a:hover {
  color: #FFA200;
  text-decoration: none;
}

.event-info {
  margin-top: 15px;
}

.event-info > dt {
  float: left;
  margin-right: 30px;
}

.event-info > dd {
  overflow: hidden;
}

.performer-info > dt {
  margin-top: 10px;
  font-weight: bold;
}

.performer-info > dt:first-child {
  margin-top: 0;
}

.performer-info > dd.current {
  color: #c0392b;
  font-weight: bold;
}
.gray {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
}
.gray:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}

/*上書き*/
.event-article-box {
  padding: 10px;
}