<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>THINKREC.</title>
    <meta name="keywords" content="DJ,プロデューサー,音楽レーベル,THINKREC,シンクレック,DJ DUCT,ダクト">
    <meta name="description" content="DJ/プロデューサーのDJ DUCTが主催する音楽レーベル。ミュージシャン、デザイナー、ウェブエンジニア、料理人と共に、音楽制作、アパレル、木工家具のデザイン、飲食店の企画、運営などを手がけ、良質な音楽と楽しい酒を探求">
    <meta property="og:title" content="DJ/プロデューサーのDJ DUCTが主催する音楽レーベル | THINKREC.">
    <meta property="og:description" content="DJ/プロデューサーのDJ DUCTが主催する音楽レーベル。ミュージシャン、デザイナー、ウェブエンジニア、料理人と共に、音楽制作、アパレル、木工家具のデザイン、飲食店の企画、運営などを手がけ、良質な音楽と楽しい酒を探求">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="ja_JP">
    <meta property="og:url" content="http://thinkrec.com">
    <meta property="og:image" content="http://thinkrec.com/images/common/THINKREC_FB_Logo_1200.png">
    <meta property="og:site_name" content="DJ/プロデューサーのDJ DUCTが主催する音楽レーベル | THINKREC.">
    <link rel="canonical" href="http://thinkrec.com">
    <link rel="shortcut icon" href="/dist/images/common/favicon.ico" >
    <link rel="stylesheet" href="/css/bundle.min.css">
</head>
<body>
<!-- header_from -->
<%- include('./include/_header') %>
<!-- header_to -->
    <main>
        <section>
        </section>
    </main>
<!-- footer_from -->
<%- include('./include/_footer') %>
<!-- footer_to -->
</body>
</html>