// ==========================================================================
// Import
// ==========================================================================

@import "../foundation/base";

// ==========================================================================
// Header
// ==========================================================================

.header-wrapper {
  position: fixed;
  left: 0;
  width: 200px;
  height: 100%;
  background: #FFFFFF;
}
.header-logo {
  
  & > a {
    display: block;
  }
}

// ==========================================================================
// Navigation
// ==========================================================================

.nav-wrap {
  margin-top: 30px;
}
.drop-down-menu {
  
  & > li {
    border-top: 1px solid #CCCCCC;
  }
  
  & > li > a {
    display: block;
    padding: 10px;
  }
  
  & > li.drop-down {
    position: relative;
    cursor: pointer;
  }
  
  & > li.drop-down .parent-item {
    cursor: pointer;
    padding: 10px;
  }
  
  & .drop-down-inner-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 200px;
    width: 150px;
    background: $tnk-secondary-color;
  }
  
  & .drop-down-inner-menu > li + li {
    border-top: 1px solid #FFFFFF;
  }
  
  & .drop-down-inner-menu > li > a {
    display: block;
    padding: 10px;
  }
  
  & > li.drop-down:hover .drop-down-inner-menu {
    display: block;
  }
  
}

